<div class="container">
    <section class="section1">
        <h1>PharmaBlockChain</h1>
        <p>Bienvenue chez nous, Profitez de nos services en toute sécurité!</p> 
    </section>

    <section class="section2">
        <h2>Nos services</h2>
        <section class="sub-section sub-section1">    
            <div class="command-products">
                <mat-icon>shopping_cart_checkout</mat-icon>
                <h3>Faire une commande</h3>
                <p> Réalisez vos commandes de médicaments dans une pharmacie de votre choix.</p>
                <a href="#"> En savoir plus</a>
            </div>
            <div class="find-pharmacie">
                <mat-icon>edit_location</mat-icon>
                <h3>Recommandation des pharmacies</h3>
                <p>Bénéficiez de la géolocalisation des pharmacies les plus proches afin d'y passez vos commandes.</p>
                <a href="#"> En savoir plus</a>
            </div>
            <div class="chat-with-pharmacist">
                <mat-icon>mark_unread_chat_alt</mat-icon> 
                <h3>Discutez avec un pharmacien</h3>
                <p>Nous vous  rapprochons des peofessionels de santé en vous donnant la possibilité d'échanger avec eux! Dans le but de mieux cerner vos problèmes.</p>
                <a href="#"> En savoir plus</a>
            </div>
            <div class="consult-drugs">
                <mat-icon>medical_services</mat-icon> 
                <h3>Consultez la liste des médicaments dans les pharmacies</h3>
                <p>Selon votre ordonance explorer suivant un domaine spécifique la palette de médicaments disponibles dans nos pharmacies.</p>
                <a href="#"> En savoir plus</a>
            </div>
            <div class="health-suggestion">
                <mat-icon>record_voice_over</mat-icon> 
                <h3>Bénéficiez des conseils de santé</h3>
                <p>Grâce aux experts présents à PharmaBlockChain, nous vous prodiguons des conseils de santé afin de pouvoir améliorer votre bien-être au quotidien.</p>
                <a href="#"> En savoir plus</a>
            </div>
        </section>
    </section>

    <section class="OurPricing">
        <h2>Our Pricing</h2>
        <section class="sub-section">
            <div class="Price one">
                <h1>Le plan gratuit</h1>
                <p>Nous vous proposons quelques fonctionalités essentielles qui vous permetront de tester l'éfficacité de PharmaBlockChain.</p>
                <ul class="first-list">
                    <li>Accédez à toutes les informations sur un médicament</li>
                    <li>Profitez de la géolocalisation des pharmacies</li>
                    <li>Bénéficiez des conseils santé de nos professionels</li>
                </ul>

                <ul class="second-list">
                    <li>Discutez avec un de nos pharmacien</li>
                    <li>Commandez vos produits à la pharmacie de votre choix</li>
                    <li>Profitez de la notification de prise de médicaments</li>
                </ul>

                <ul class="third-list">
                    <li>Analysez une ordonance numérique et  obtenez vos médicaments</li>
                    <li>Profitez des alternatives de  la pharmacopée africaine</li>
                    <li>Faites vous suive par un pharmacien professionel</li>
                    <li>Abonnez vous a une pharmacie et suivez médicament particulier.</li>
                </ul>
                
                <button>Choisir le Plan</button>
            </div>
            <div class="Price two">
                <h1>Le plan intermediaire</h1>
                <p>Nous vous proposons des fonctionalités plus évoluées qui vous permetront  de profiter un peu plus de PharmaBlockChain.</p>
                <ul class="first-list">
                    <li>Accédez à toutes les informations sur un médicament</li>
                    <li>Profitez de la géolocalisation des pharmacies</li>
                    <li>Bénéficiez des conseils santé de nos professionels</li>
                </ul>

                <ul class="second-list">
                    <li>Discutez avec un de nos pharmacien</li>
                    <li>Commandez vos produits à la pharmacie de votre choix</li>
                    <li>Profitez de la notification de prise de médicaments</li>
                </ul>

                <ul class="third-list">
                    <li>Analysez une ordonance numérique et  obtenez vos médicaments</li>
                    <li>Profitez des alternatives de  la pharmacopée africaine</li>
                    <li>Faites vous suive par un pharmacien professionel</li>
                    <li>Abonnez vous a une pharmacie et suivez médicament particulier.</li>
                </ul>
                <button>Choisir le Plan</button>
            </div>
            <div class="Price three">
                <h1>Le plan Pro</h1>
                <p>Nous vous donnons l'accès à la totalité des fonctionalités de PharmaBlockChain.</p>
                <ul>
                    <li>Accédez à toutes les informations sur un médicament</li>
                    <li>Profitez de la géolocalisation des pharmacies</li>
                    <li>Bénéficiez des conseils santé de nos professionels</li>
                </ul>

                <ul>
                    <li>Discutez avec un de nos pharmacien</li>
                    <li>Commandez vos produits à la pharmacie de votre choix</li>
                    <li>Profitez de la notification de prise de médicaments</li>
                </ul>

                <ul>
                    <li>Analysez l'ordonance numérique et  obtenez vos médicaments</li>
                    <li>Profitez des alternatives de  la pharmacopée africaine</li>
                    <li>Faites vous suive par un pharmacien professionel</li>
                    <li>Abonnez vous a une pharmacie et suivez médicament particulier.</li>
                </ul>
                <button>Choisir le Plan</button>
            </div>
        </section>
    </section>

    <section class="OurProducts">
        <h2>Medicaments</h2>
        <div class="products">
            <div class="product">
                <div class="img-drug">
                    <img src="../assets/images/products/doliprane-500mg-16-gelules.jpg" alt="img-drug">
                </div>
                <h1>Paracetamol 500mg</h1>
                <div class="reducted-iformations-drugs">
                    <ul class="list-reducted-news">
                        <li class="production-date"> Fév-2018 </li>
                        <li class="Expiration-date"> Jan-2024 </li>
                        <li class="state-disponibility"> en stock </li>
                    </ul>
                </div>
                <div class="pharmacie">
                    <img src="../assets/images/pharmacieLogos/logop1.png" alt="logo">
                    <h2>Rosa - Park</h2>
                </div>
                <div class="price">
                    <h3>1000 XFCFA</h3>
                </div>
                <a href="#">Avoir plus de details ... </a>
            </div>

            <div class="product">
                <div class="img-drug">
                    <img src="../assets/images/products/doliprane-500mg-16-gelules.jpg" alt="img-drug">
                </div>
                <h1>Paracetamol 500mg</h1>
                <div class="reducted-iformations-drugs">
                    <ul class="list-reducted-news">
                        <li class="production-date"> Fév-2018 </li>
                        <li class="Expiration-date"> Jan-2024 </li>
                        <li class="state-disponibility"> en stock </li>
                    </ul>
                </div>
                <div class="pharmacie">
                    <img src="../assets/images/pharmacieLogos/logop1.png" alt="logo">
                    <h2>Rosa - Park</h2>
                </div>
                <div class="price">
                    <h3>1000 XFCFA</h3>
                </div>
                <a href="#">Avoir plus de details ... </a>
            </div>

            <div class="product">
                <div class="img-drug">
                    <img src="../assets/images/products/doliprane-500mg-16-gelules.jpg" alt="img-drug">
                </div>
                <h1>Paracetamol 500mg</h1>
                <div class="reducted-iformations-drugs">
                    <ul class="list-reducted-news">
                        <li class="production-date"> Fév-2018 </li>
                        <li class="Expiration-date"> Jan-2024 </li>
                        <li class="state-disponibility"> en stock </li>
                    </ul>
                </div>
                <div class="pharmacie">
                    <img src="../assets/images/pharmacieLogos/logop1.png" alt="logo">
                    <h2>Rosa - Park</h2>
                </div>
                <div class="price">
                    <h3>1000 XFCFA</h3>
                </div>
                <a href="#">Avoir plus de details ... </a>
            </div>

            <div class="product">
                <div class="img-drug">
                    <img src="../assets/images/products/doliprane-500mg-16-gelules.jpg" alt="img-drug">
                </div>
                <h1>Paracetamol 500mg</h1>
                <div class="reducted-iformations-drugs">
                    <ul class="list-reducted-news">
                        <li class="production-date"> Fév-2018 </li>
                        <li class="Expiration-date"> Jan-2024 </li>
                        <li class="state-disponibility"> en stock </li>
                    </ul>
                </div>
                <div class="pharmacie">
                    <img src="../assets/images/pharmacieLogos/logop1.png" alt="logo">
                    <h2>Rosa - Park</h2>
                </div>
                <div class="price">
                    <h3>1000 XFCFA</h3>
                </div>
                <a href="#">Avoir plus de details ... </a>
            </div>
        </div>
    </section>

</div> 