<form class="hide-remove gen-form with-messages signup" id="new_user">

    <div class="title-form">
        <h3>Informations personelles du Pharmacien</h3>
    </div>

    <div class="img-profile-camera" > 
        <img src="../assets/images/kisspng-computer-icons-question-mark-clip-art-profile-picture-icon-5b49de29407583.077843511531567657264-removebg-preview.png" >
        <div class="user_img_profile">
            <input class="file-input" type="file" name="user[file]" id="user_file">
            <label for="user_img_profile"><mat-icon>photo_camera</mat-icon></label>
        </div>
    </div>

    <div class="form-field-group">
        <div class="form-field">
            <fieldset class="user_name">
                <label for="user_name">Nom</label>
                <input autocomplete="name" class="text-input" type="text" name="user[name]" id="user_name">
            </fieldset>
        </div>
        <div class="form-field">
            <fieldset class="last-name">
                <label for="last-name">Prenom</label>
                <input autocapitalize="off" autocorrect="off" autocomplete="user_login" class="text-input" type="text" name="user[login]" id="user_login">
            </fieldset>
        </div>
    </div>

    <div class="form-field-group">
        <div class="form-field">
            <fieldset class="user_email">
                <label for="user_email">Email</label>
                <input class="text-input" type="email" name="user[email]" id="user_email">
            </fieldset>
        </div>

        <div class="form-field">
            <fieldset class="user_phone">
                <label for="user_email">Telephone</label>
                <input class="text-input" type="tel" name="user[phone]" id="user_phone">
            </fieldset>
        </div>

    </div>

    <div class="form-field-group">
        <div class="form-field">
            <fieldset class="user_password">
                <label for="user_password">Mot de passe</label>
                <input class="text-input" placeholder="6+ characters" type="password" name="user[password]" id="user_password">
            </fieldset>
        </div>
        <div class="form-field">
            <fieldset class="user_password">
                <label for="user_password">Confirmer le mot de passe</label>
                <input class="text-input" placeholder="6+ characters" type="password" name="user[password]" id="user_password">
            </fieldset>
        </div>
    </div>
    <div class="form-field-group">
        <div class="form-field">
            <fieldset class="user_birth_date">
                <label for="user_birth_date">Date de naissance</label>
                <input class="date-input" type="date" name="user[date]" id="user_birth_date">
            </fieldset>
        </div>
        <div class="form-field">
            <fieldset class="user_nationality">
                <label for="user_nationality">Nationalité</label>
                <select name="countries" id="cntry-select">
                    <option selected value=""></option>
                    <option value="Cameroun">Cameroun</option>
                    <option value="Congo">Congo</option>
                </select>
            </fieldset>
        </div>
    </div>
    <fieldset class="field-gender">
        <legend>Genre</legend>
        <div class="form-field-group gender">
            <div class="form-field">
                <fieldset class="user_sexe">
                    <label for="user_female">Femme</label>
                    <input class="text-input" type="radio" name="user[sex]" id="user_email">
                </fieldset>
            </div>

            <div class="form-field">
                <fieldset class="user_sexe">
                    <label for="user_male">Homme</label>
                    <input class="text-input" type="radio" name="user[sex]" id="user_sex">
                </fieldset>
            </div>
        </div>
    </fieldset>
    
    <div class="form-field">
        <fieldset class="check-wrap opt-in">
            <input type="checkbox" name="user[agree_to_terms]" id="user_agree_to_terms">
            <label for="user_agree_to_terms">
                En créant ce compte cela sinifie que j'approuve sans reserves <a href="#">La politique de confidentialité</a>, <a href="#">Les differents services</a> et par defaut <a href="#">Les notifications de parametres.</a> 
            </label>
        </fieldset>
    </div>

    <div class="form-btns">
        <button type="submit"><a routerLink="../actors2/step2" [queryParams]="{actor : 'pharmacien'}">Suivant</a></button>
    </div>

    <p class="recaptcha-terms">
        Ce site est protégé par les services google. Toute fois la <a href="#">la politique de confidentialité</a> relative à vos données reste applicable.
    </p>
</form>


  
    
