

            form{

                margin-left: 10%;
                width: 80%;

                .title-form{
                    display: flex;
                    justify-content: center;
                    h3{
                        letter-spacing: 3px;
                        font-weight: 550;
                    }
                    
                }

                background-color: #fff;
                box-shadow:  5px 5px 20px 0px lightgray;
                border-radius: 10px;
                padding: 2%;
                color: rgb(64, 138, 235);
                font-weight: 350;
                
                fieldset{
                    padding: 2% 0;
                    border: none;
                    display: flex;
                    flex-direction: column;
                }

                .check-wrap {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    input{
                        margin-right: 2%;
                    }
                }
                
                .form-field-group{
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 2%;

                    .form-field label{
                        padding: 2% 0;
                    }

               }
    
                .form-field{
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    label{
                        padding: 1% 0;
                    }
                    .user_sexe{
                        flex-direction: row;
                        label{
                            padding: 1% 10%;
                        }
                    }

                    input[type = text], [type = email], [type = date], [type = password], [type = tel]{
                        border: solid 1px rgb(86, 157, 250);
                        border-radius: 5px;
                        height: 30px;   
                    }

                    input:focus, select:focus{
                        
                        outline: none;
                        border: solid 1px rgb(8, 236, 8);                        
                    }

                    select{
                        border: solid 1px rgb(86, 157, 250);
                        border-radius: 5px;
                        height: 30px;
                    }

                    


                }
                .img-profile-camera{
                    margin: auto;
                    position: relative;
                    width: 100px;
                    height: 100px;
                    
            
                    .user_img_profile{
                        position: absolute;
                        width: 30%;
                        height: 25%;
                        bottom: 0;
                        right: 0;
                        overflow: hidden;
                        mat-icon{
                            font-size: 1.5rem;
                            padding-right: 3rem;
                            padding-bottom: 3rem;
                
                        }
                        input{
                            position: absolute;
                            transform: scale(3);
                            opacity: 0;
                        }
                        
                    }
            
                    
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                    }    
            
                }

                .form-field, .form-field-group{
                    padding: 0 0;
                }

                .field-gender{
                    padding: 0 0;
                    margin: 2% 0;

                }

                .form-btns {
                    display: flex;
                    justify-content: center;
                    padding: 1% 0;

                    input[type = button] {
                        background-color: rgb(86, 157, 250);
                        width: 25%;
                        color: #fff;
                        box-sizing: border-box;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 5px;
                        box-shadow: lightgray 3px 3px 7px;
                        margin-right: 20px;
                        outline: none;
                        font-size: 1.2rem;
                        font-weight: 500;
                        &:active {
                            transform: translate(1px, 1px);
                            box-shadow: lightgray 0 0 5px;
                        }
                    }

                    .form-reset{
                        background-color: rgb(252, 53, 53) !important
                        
                    }

                }


                
                
            }
  

