<div class="body-container">
    <div class="body-contain-1">
        <div class="drugs">
            <div class="drugs-news">
                <div class="main-pharmacie">
                    <img src="../assets/images/pharmacieLogos/logop1.png" alt="logo">
                    <h3 class="pharmacie-name">Rosa - park</h3>
                </div>
                <div class="name-drus">
                    <div class="classification">
                        <p class="Cathegory"> Medicament de class A</p>
                        <h1 class="name"> Doliprane-500mg</h1>
                    </div>
                    <div class="reducted-iformations-drugs">
                        <ul class="list-reducted-news">
                            <li class="production-date"> Fév-2018 </li>
                            <li class="Expiration-date"> Jan-2024 </li>
                            <li class="state-disponibility"> en stock </li>
                        </ul>
                    </div>
                </div>

                <div class="descrip-recommandations-drugs">
                    <div class="description">
                        <h3>La descrition</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, possimus, est tempore necessitatibus, voluptas neque atque itaque dolores amet inventore nesciunt? Quae inventore voluptas quos.</p>
                    </div>

                    <div class="drugs-recommandations-effects">
                        <h3>recommandé pour:</h3>
                        <ul class="list-deaseas">
                            <li> maux de tête </li>
                            <li> taux </li>
                            <li> palpitations </li>
                            <li> plaits</li>
                        </ul>
                    </div>
                </div>
                <div class="command-button">

                    <div class="cmd-button">
                        <button class="commder"> Commander </button>
                    </div>

                    <div class="condition-process">
                        <p class="p-condition-process">médicament sous ordonnance !</p>
                    </div>
                    
                </div>
            </div>
            <div class="img-drug">
                <p>Choisir une autre pharmacie ?</p>
                <img src="../assets/images/products/doliprane-500mg-16-gelules.jpg" alt="img-drug">
                <p>choisir un médicament équivalent ?</p>

            </div>
        </div>
        <div class="unboxing-drugs">
            <div class="uboxing-drugs-title">
                <mat-icon>image</mat-icon>
                <p>Variétés</p>

            </div>
            
                <ul class="img-drug-list">
                    <li class="img1"><img src="../assets/images/products/doliprane-liquiz-pain-and-fever-500-mg-12-sachets-drinkable-suspension.jpg" alt="image1"> <p>Doliprane 1000mg</p></li>
                    <li class="img2"><img src="../assets/images/products/doliprane-500mg-16-gelules.jpg" alt="image2"> <p>Doliprane 5000mg</p></li>
                    <li class="img3"><img src="../assets/images/products/images.jpg" alt="image3"> <p>Doliprane 250mg</p></li>
                    <li class="img4"><img src="../assets/images/products/téléchargement.jpg" alt="image4"> <p>Doliprane 100mg</p></li>
                </ul>
            
        </div>
    </div>
    <div class="body-contain-2">
        <div class="second-effects">
            <div class="precotions">
                <h3>précotions à suivre</h3>
                <p class="notice-précotion">Ce médicament est apprendre en une seul dose toutes les 8h jusqu'a épuisment</p>
                <div class="authers-precotion">
                    <p>suivre les conseils du prescripteur de ce médicament(fortement recommandé)</p>
                </div>
            </div>
            <div class="second-effect-options">
                <h3>Effets seconndaires suite à la prise de médicament</h3>
                <ul class="effects-list">
                    <li class="effect"> Fatigue </li>
                    <li class="effect"> Nosée </li>
                    <li class="effect"> Vomissements </li>    
                </ul>

            </div>

        </div>

        <div class="Chimical-containts">
            <h3>Eléments chimiques et Principes actifs</h3>
            <ul class="Chimical-containts-list">
                <li class="Chimical-containt"> Hydrogéne </li>
                <li class="Chimical-containt"> Dioxigène </li>
                <li class="Chimical-containt"> Carbone512 C2C </li>
            </ul>
        </div>
        <div class="upload-ordonance">
            <p class="autorisation">Je dispose d'une Ordonace(*) <span class="level-priority">Obligatoire pour ce médicament</span></p>
            <input type="file" class="Ordonace">
        </div>
    </div>
</div>
