<section class="publication-health">
    <div class="identification-news">
        <div class="profile-picture">
            <img src="../../../../assets/images/profile-preview.png" alt="Image profile">
        </div>
        <div class="autheur">
            <p>Dr. KENFACK TSAGUE</p>
        </div>
    </div>

    <div class="tile-sub-title">
        <h1 class="title">CONSERVATION DES MEDICAMENTS</h1>
        <h3 class="sub-title">Prise des médicaments</h3>
    </div>

    <div class="dateAdvice">
        <p class="date-health-advice ">11 mars 2023</p>
    </div>

    <div class="img-advice">
        <img src="../../../../assets/images/products/emballages.jpg" alt="imge-publication">
    </div>

    <div class="content">
        <p class="health-advice">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perferendis 
            libero placeat tempora sed consectetur. Numquam placeat perferendis libero iure 
            repudiandae recusandae modi sit, ab dignissimos rem, tenetur laborum harum!
        </p>
    </div>

    <div class="comments">
        <app-comments></app-comments>
    </div>
    
</section>


<section class="publication-health">
    <div class="identification-news">
        <div class="profile-picture">
            <img src="../../../../assets/images/profile-preview.png" alt="Image profile">
        </div>
        <div class="autheur">
            <p>Dr. KENFACK TSAGUE</p>
        </div>
    </div>

    <div class="tile-sub-title">
        <h1 class="title">CONSERVATION DES MEDICAMENTS</h1>
        <h3 class="sub-title">Prise des médicaments</h3>
    </div>

    <div class="dateAdvice">
        <p class="date-health-advice">11 mars 2023</p>
    </div>

    <div class="img-advice">
        <img src="../../../../assets/images/products/emballages.jpg" alt="imge-publication">
    </div>

    <div class="content">
        <p class="health-advice">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perferendis 
            libero placeat tempora sed consectetur. Numquam placeat perferendis libero iure 
            repudiandae recusandae modi sit, ab dignissimos rem, tenetur laborum harum!
        </p>
    </div>

    <div class="comments">
        <app-comments></app-comments>
    </div>
    
</section>