
<header>

    <h1>PharmaBlockChain</h1>

    <nav>
      <a routerLinkActive="active">Home</a>
      <a routerLinkActive="active">About us</a>

      <a routerLinkActive="active" routerLink="signInUpPage/signUp/actors1" [queryParams]="{actor : 'patient'}">Patient</a>
      <a routerLinkActive="active" routerLink="signInUpPage/signUp/actors2" [queryParams]="{actor : 'Pharmacien'}">Pharmacien</a>
      <a routerLinkActive="active" routerLink="signInUpPage/signUp/actors3" [queryParams]="{actor : 'Pharmacie'}">Pharmacie</a>

    </nav>

   
</header>
