<div class="main-container">
    <div class="Auth-Sidebar">
            <header>
                <img src="../assets/images/logophama.png">
                <h1>PharmaBlockChain</h1>
            </header>

            <div class="Welcome-Slogan">
                <div class="Welcome-paragraph">
                    <h2>Le medicament de qualité à votre portée...</h2>
                    <p>Nous vous souhaitons la bienvenue! Soyez connectez avec tous les acteurs du secteurs pharceutique du pays.</p>
                </div>
            </div>

            <div class="footer">
                <p><a href="">CopyWriting 2023</a> Tous les droits reservés</p>
            </div>
    </div>

    <div class = "Containt">
        <div class="redirection-landing"><a routerLink="../"><mat-icon>home</mat-icon></a></div>
        <router-outlet></router-outlet>
        
    </div>
    
</div>